body{
  margin:0;
}
div#app{
  width: 10%;
  margin: 0;

}
div.appTitle{
  position: absolute;
  top: 0;
  width:100%;
}
#app div#splash{
  position:absolute;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
}
